<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    
    {% include header.html %}
    <div role="main" class="main">
        <a href="#nav" class="nav-toggle">Menu</a>
        <div>
        <ul>
          {% for post in site.posts %}
            {% for category in site.categories %}
              {% if category[0] == page.category %}
              {% if category[0] == post.category %}
              <a href='{{ post.url | relative_url }}'><li>{{post.title}}</li></a>
              {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>