<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    
    {% include header.html %}
    <div role="main" class="main">
        <a href="#nav" class="nav-toggle">Menu</a>
        {{page.category}}
        <ul>
          {% for post in site.posts %}
            {% for category in site.categories %}
              {% if category == page.category %}
              <a href='{{ post.url | relative_url }}'><li>{{post.title}}</li></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
    </div>
    {% include footer.html %}
</body>

</html>