<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div role="navigation" id="foo" class="nav-collapse">
      <ul>
        {% for category in site.categories %}
        <li class="active"><a href="#">{{category | first}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div role="main" class="main">
      <a href="#nav" class="nav-toggle">Menu</a>
        {{content}}
    </div>

    <script>
      var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
    </script>
  </body>
</html>
